<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div class="top-title">
            <h1 class="title">My Tasks</h1>
        </div>
        <div class="main">
            <h2 class="date"><%= Fecha %></h2>
            <div class="list">
                <form action="/erase" method="post">
                <button class="deleteBtn" type="submit">Eliminar Tareas Completadas</button>
                <ul>
                    <% for(i = 0; i<Lista.length; i++){%>
                        <li class="item">
                            <input class="checkbox" type="checkbox"  name='<%=Lista[i]._id%>'>
                            <span class="text"><%= Lista[i].content %></span>
                        </li>
                    <% } %>
                </ul>
                </form>
                <form class="newElement" action="/add" method="post">
                    <input class="newItem" type="text" name="newItem" placeholder="Nuevo Elemento..." autocomplete="off">
                    <button class="addBtn" type="submit" name="button"></button>
                </form>
            </div>
        </div>
        <div class="footer">
            <span class="text">@Copyright 2023 KhanDev</span>
        </div>
    </main>

    
</body>
</html>